<div class="card-header">
  <h1>
    <a target="_blank" href="<%= model.url %>"><%= model.fullname %></a>
  </h1>
  <h2>
    <%= model.country %>
  </h2>
  <h3>
    <%= model.startYear %> - <%= model.endYear || 'present' %>
  </h3>
</div>
<div class="author-body">
  <div class="author-figure"></div>
</div>
