extends layout

block intro
  div(class="intro-body")
    h1(class="intro-text intro-speeches", data-0="bottom:-50%",
        data-500="bottom:50%", data-1000="opacity:1", data-1500="opacity:0")
      != '703'

block content
  div(class="dot-navigation")
    a(href="/#figure-container", id="figure-container-nav", class="dot selected")
    a(href="/#words-per-year-container", id="words-per-year-container-nav", class="dot")
    a(href="/#timeline-container", id="timeline-container-nav", class="dot")
    a(href="/#author-popular-words-container", id="author-popular-words-container-nav", class="dot")

  div(class="legend-top-bar")
    span(class="legend-label") 10 HIGH COMMISSIONERS
    - each author in authors
      span(class="#{author.cssClass()} author-image", original-title="<h1 class=\"#{author.cssClass()}\">#{author.fullname}</h1>")
        img(src="/images/#{author.cssClass()}.jpg", width=40, height=40)
    span(class="legend-label") COLOR KEY

  div(class="content-wrapper row")
    div(class="row", id="figure-container", data-module="1", class="module")
      div(class="module-header col-md-12")
        h1 Words in Document
      div(class="module-body")
        div(class="legend-container legend-container-1")
        div(id="figure")
        div(class="col-md-6 col-md-offset-4 search-container")
          label(for="search")
            != 'Search a word:&nbsp;'
          input(type="text", id="search", placeholder="")
          span(class="current-word")


    div(class="row", id="words-per-year-container", data-module="2", class="module")
      div(class="module-header col-md-12")
        h1 Words over time
      div(class="module-body")
        div(class="col-md-6 col-md-offset-4 search-container")
          label(for="search")
            != 'Search a word:&nbsp;'
          input(type="text", id="words-per-year-search", placeholder="")
          span(class="error-message")
        div(class="col-md-10 col-md-offset-1")
          div(id="words-per-year")

    div(class="row", id="timeline-container", data-module="3", class="module")
      div(class="col-md-12 module-header")
        h1 Sentiment Analysis over time
      div(class="module-body")
        div(class="col-md-12")
          div(id="timeline")

    div(class="row", id="author-popular-words-container", data-module="4", class="module")
      div(class="col-md-12 module-header")
        h1 Who says what
      div(class="module-body")
        div(class="col-md-10 col-md-offset-1")
          div(id="author-popular-words")

block scripts
  script.
    $(document).ready(function() {
      _.templateSettings.variable = "context";

      var animated = {},
          wordsAdded = [];
      var $headerWrapper,
          $contentWrapper;

      $.fn.tipsy.defaults = {
        delayIn: 0,      // delay before showing tooltip (ms)
        delayOut: 0,     // delay before hiding tooltip (ms)
        fade: false,     // fade tooltips in/out?
        fallback: '',    // fallback text to use when no tooltip text
        gravity: 's',    // gravity
        html: true,     // is tooltip content HTML?
        live: false,     // use live event support?
        offset: 0,       // pixel offset of tooltip from element
        opacity: 1,    // opacity of tooltip
        title: 'title',  // attribute/callback containing tooltip text
        trigger: 'hover' // how tooltip is triggered - hover | focus | manual
      };

      $contentWrapper = $('.content-wrapper');

      $headerWrapper = $('.header-wrapper');
      $headerWrapper.css('width', $(window).width());
      $headerWrapper.css('height', $(window).height());

      $('.author-image').tipsy({
        gravity: 'n'
      });


      $(window).on('resize', function(e) {

        var fn = _.throttle(function() {
            $headerWrapper.css('width', $(window).width());
            $headerWrapper.css('height', $(window).height());
          }, 100);
        fn();
      })
      var $modules = $('.module');
      var $reversed = $modules.get().reverse()
      var $legend = $('.legend-top-bar');

      $modules.on('mouseleave', function(e) {
        var $toElement = $(e.toElement)
        // return if hover tipsy
        if ($toElement.hasClass('tipsy') || $toElement.parents('.tipsy').length > 0) {
          return
        } else {
          $('.tipsy').remove();
        }
      })

      $(document).on('scroll', function(e) {
        var fn = _.throttle(function() {
            var scrollTop = $(window).scrollTop()

            var freqChartOffset = Diction.skrollr.relativeToAbsolute($('#figure-container #figure')[0], 'bottom',
            'bottom')

            var timelineOffset = Diction.skrollr.relativeToAbsolute($('#timeline-container #timeline')[0], 'bottom',
            'center')

            var wordsPerYearOffset = Diction.skrollr.relativeToAbsolute($('#words-per-year-container .words-per-year-container:first')[0],
            'bottom', 'center')


            var popularWordsOffset = Diction.skrollr.relativeToAbsolute($('#author-popular-words .author:first')[0], 'bottom',
              'center')

            var showLegend = false;
            for (var i = 0; i < $reversed.length; i ++) {
              var offset = Diction.skrollr.relativeToAbsolute($reversed[i], 'top', 'top');
              if (scrollTop >= offset) {
                showLegend = true;
                var id = $($reversed[i]).attr('id');
                $('.dot').removeClass('selected');
                $('#' + id + '-nav').addClass('selected');
                break;
              }
            }

            if (showLegend) {
              $legend.css('top', '0px');
            } else {
              $legend.css('top', (-$legend.height() - 1) + 'px' );
            }


            animate(freqChartOffset, 'freqchartRoute');
            animate(timelineOffset, 'timelineRoute');
            animate(wordsPerYearOffset, 'wordsPerYearRoute');
            animate(popularWordsOffset, 'authorsRoute');

            //$.publish('scroll');
          }, 100);
        fn();

      });

      function animate(offset, route) {
          if (window.scrollY > offset && !animated[route]) {
            Diction.router[route]()
            animated[route] = true;
          }

      }

      $('#words-per-year-search').on('keyup', function(e) {
        if (e.keyCode == Diction.Constants.ENTER) {
          var $target = $(e.currentTarget)
          var query = $target.val().toLowerCase();

          // Already been added
          if (wordsAdded.indexOf(query) !== -1 || Diction.Constants.DEFAULT_WORDS.indexOf(query) !== -1) {
            $('.error-message').text('Word has already been added');
            $target.val('');
            return;
          }



          $wordsPerYear = $('#words-per-year');
          $wordsPerYear.prepend(Diction.Templates.wordsPerYear.render({ word: query }));
          $.get('/words_per_year', { query: query }).success(function(rows) {
            var wordsPerYear = new Diction.Figures.WordsPerYear({
              data: rows,
              svg: d3.select('.words-per-year-' + query),
              word: query
            });
            wordsPerYear.render();
            wordsAdded.push(query);
            $target.val('');
            $('.error-message').text('');
          });
        }

      });

      Diction.router = new Diction.Routers.IndexRouter({
        docs: !{data},
        authors: !{JSON.stringify(authors)},
        popularWords: !{popularWords}
      });
      Backbone.history.start();

      Diction.skrollr = skrollr.init();



    });
