extends layout

block intro
  div(class="intro-body")
    div(class="intro-intro", data-0="background-position:100% 0px", data-1000="background-position:100% -200px")
      div(class="intro-credits", data-0="opacity: 1", data-200="opacity: 0")
        != 'a UNCHR<b>AXIS</b> experience'
      div
        img(src="/images/logo.png", width="60", height="60", class="intro-text intro-logo", data-0="opacity: 1", data-200="opacity: 0")
      div(class="intro-text intro-tagline", data-0="opacity: 1", data-200="opacity: 0")
        h1(class="big-number")
          b
            != '1,774,931 WORDS'
        h2
          != 'A chronicle of how UNHCR terminology and language has changed over 64 years'
        p
          != 'Over the years UNHCR has grown and adapted its approach to protecting refugees to match current demands and crises. On World Refugee Day, we want to not only appreciate the hardships of today’s refugees, but also of refugees from years past. Below is a visualization that breaks down how different High Commissioners for Refugees have changed their tone and word choice in their speeches, indicating changes in direction that UNHCR has taken to best serve refugees.'
        div(class="date") Updated: 20 JUNE 2014
      div(class="intro-text intro-scroll", data-0="opacity: 1", data-200="opacity: 0") Scroll

    div(class="intro-commissioners-background delay-show" data-0="bottom: -100%; top: 100%"
        data-500="bottom: 0; top: 0;",  data-1400="background-position:100% 0px",
        data-2500="background-position:100% -180px")

    div(class="intro-fact intro-commissioners delay-show", data-0="bottom:-130%",
        data-500="bottom:30%", data-700="opacity:1", data-900="opacity:0")
      div(class="huge-number") 10
      h1 HIGH COMMISSIONERS

      h2(class="intro-years")
        != '1950 - 2014'

      div(class="intro-authors")
        - each author, i in [authors[0], authors[5], authors[1], authors[6], authors[2], authors[7], authors[3], authors[8], authors[4], authors[9]]

          - if (i + 1 == 10)
            div(class="intro-author")
              != (i  + 1) + "&nbsp;&nbsp;" + author.fullname.split(' ').join('&nbsp;')
          - else if (i == 0)
            div(class="intro-author")
              != "0" + ((i / 2) + 1) + "&nbsp;&nbsp;Gerrit&nbsp;Goedhart"
          - else
            - if (i % 2 == 0)
              div(class="intro-author")
                != "0" + ((i / 2) + 1) + "&nbsp;&nbsp;" + author.fullname.split(' ').join('&nbsp;')
            - else
              div(class="intro-author")
                != "0" + ((i + 11) / 2) + "&nbsp;&nbsp;" + author.fullname.split(' ').join('&nbsp;')


    div(class="intro-fact intro-speeches delay-show", data-700="bottom:-50%",
        data-1200="bottom:50%", data-1400="opacity:1", data-1700="opacity:0")
      div(class="huge-number") 703
      h1 SPEECHES

block content
  div(class="dot-navigation")
    a(href="/#figure-container", id="figure-container-nav", class="dot selected")
    a(href="/#words-per-year-container", id="words-per-year-container-nav", class="dot")
    a(href="/#timeline-container", id="timeline-container-nav", class="dot")
    a(href="/#author-popular-words-container", id="author-popular-words-container-nav", class="dot")

  div(class="legend-top-bar above")
    div(class="logo")
      img(src="/images/logo-black.png", width="40", height="40")
    div(class="author-container")
      - each author in authors
        span(class="#{author.cssClass()} author-image", original-title="<h1 class=\"#{author.cssClass()}\">#{author.fullname}</h1>")
          img(src="/images/#{author.cssClass()}-thumb-bw.jpg", width=40, height=40)

  div(class="content-wrapper row delay-show")
    div(class="", id="figure-container", data-module="1", class="module")
      div(class="module-header first")
        h1 What's in a speech?
        p.
          Since UNHCR launched in December of 1950, there’ve been 10 high commissioners who’ve given a total of 703 speeches with a grand total of 1,774,931 words. Naturally, over the years their rhetoric has changed to match shifting priorities. But, of the 1 million+ words spoken about refugees, which are the most common? This visualization shows how many times a single word is mentioned in a speech. Try searching for your own words. When you hover over a bar, you’ll be able to view the sentences where that particular word was mentioned.

        p(class="fun-tip").
          Fun tip: try clicking and dragging to analyse just one section of the graph.

      div(class="module-body")
        div(class="legend-container")
        div(id="figure")
        div(class="freq-results")
          div(class="freq-result search-container")
            input(type="text", id="search", placeholder="")
            label(for="search")
              != 'Search a word'
          div(class="freq-result")
            div(class="freq-display current-word") &nbsp;
            div(class="freq-label") query
          div(class="freq-result freq-result-small")
            div(class="freq-display occurences") 0
            div(class="freq-label") occurences
          div(class="freq-result freq-result-small")
            div(class="freq-display speeches") 0
            div(class="freq-label") speeches


    div(id="words-per-year-container", data-module="2", class="module")
      div(class="module-header")
        h1 How words change over time?
        p.
          How do words measure up over time? Are there some words that were used more ten years ago than they are now? This graph shows the trend of a word over UNHCR’s history. Trends are measured by counting the number of mentions per 1000 words.
      div(class="module-body")
        div(class="col-md-6 col-md-offset-4 search-container")
          input(type="text", id="words-per-year-search", placeholder="")
          label(for="search")
            != 'Search a word'
          span(class="error-message")
        div(class="col-md-10 col-md-offset-1")
          div(id="words-per-year")

    div(id="timeline-container", data-module="3", class="module")
      div(class="module-header")
        h1 Uplifting or somber?
        p.
          No two speeches are the same: some can be uplifting, while some can be somber. For example, when talking about the Nansen award winners, high commissioners' speeches tend to be more hopeful, but when talking about grave topics like the crisis in Sierra Leone, their speeches tend to be more sobering. This graph shows how the sentiment could change over time, depending on current crises around the world.
        p.
          Each circle represents a speech; the higher the dot the more uplifting, the lower the circle, the more solemn. The size of the circle is proportional to the number of words in the speech.
        p(class="fun-tip").
          Fun tip: try clicking and dragging to analyse sentiment for a certain time period.
      div(class="module-body")
        div(class="col-md-12")
          div(id="timeline")

    div(id="author-popular-words-container", data-module="4", class="module")
      div(class="module-header")
        h1 Who says what?
        p.
          As every author develops his or her style of writing and word choice, so too do High Commissioners for Refugees. This graph gives an overview of the top 10 most used words during that High Commissioner’s term.
      div(class="module-body")
        div(class="col-md-10 col-md-offset-1")
          div(id="author-popular-words")

block scripts
  script.
    $(document).ready(function() {
      _.templateSettings.variable = "context";


      var animated = {},
          wordsAdded = [];
      var $headerWrapper,
          $contentWrapper;

      $.fn.tipsy.defaults = {
        delayIn: 0,      // delay before showing tooltip (ms)
        delayOut: 0,     // delay before hiding tooltip (ms)
        fade: false,     // fade tooltips in/out?
        fallback: '',    // fallback text to use when no tooltip text
        gravity: 's',    // gravity
        html: true,     // is tooltip content HTML?
        live: false,     // use live event support?
        offset: 0,       // pixel offset of tooltip from element
        opacity: 1,    // opacity of tooltip
        title: 'title',  // attribute/callback containing tooltip text
        trigger: 'hover' // how tooltip is triggered - hover | focus | manual
      };

      // Only show content when it's ready
      $('.delay-show').removeClass('delay-show')

      $contentWrapper = $('.content-wrapper');

      $headerWrapper = $('.header-wrapper');
      $headerWrapper.css('width', $(window).width());
      $headerWrapper.css('height', $(window).height());

      $('.author-image').tipsy({
        gravity: 'n'
      });


      $(window).on('resize', function(e) {

        var fn = _.throttle(function() {
            $headerWrapper.css('width', $(window).width());
            $headerWrapper.css('height', $(window).height());
          }, 100);
        fn();
      })
      var $modules = $('.module');
      var $reversed = $modules.get().reverse()
      var $legend = $('.legend-top-bar');

      $modules.on('mouseleave', function(e) {
        var $toElement = $(e.toElement)
        // return if hover tipsy
        if ($toElement.hasClass('tipsy') || $toElement.parents('.tipsy').length > 0) {
          return
        } else {
          $('.tipsy').remove();
        }
      })

      $(document).on('scroll', function(e) {
        var fn = _.throttle(function() {
            var scrollTop = $(window).scrollTop()

            var freqChartOffset = Diction.skrollr.relativeToAbsolute($('#figure-container #figure')[0], 'bottom',
            'bottom')

            var timelineOffset = Diction.skrollr.relativeToAbsolute($('#timeline-container #timeline')[0], 'bottom',
            'center')

            var wordsPerYearOffset = Diction.skrollr.relativeToAbsolute($('#words-per-year-container .words-per-year-container:first')[0],
            'bottom', 'center')


            var popularWordsOffset = Diction.skrollr.relativeToAbsolute($('#author-popular-words .author:first')[0], 'bottom',
              'center')

            var showLegend = false;
            for (var i = 0; i < $reversed.length; i ++) {
              var offset = Diction.skrollr.relativeToAbsolute($reversed[i], 'top', 'top');
              if (scrollTop >= offset) {
                showLegend = true;
                var id = $($reversed[i]).attr('id');
                $('.dot').removeClass('selected');
                $('#' + id + '-nav').addClass('selected');
                break;
              }
            }

            if (showLegend) {
              $legend.removeClass('above')
            } else {
              $legend.addClass('above')
            }


            animate(freqChartOffset, 'freqchartRoute');
            animate(timelineOffset, 'timelineRoute');
            animate(wordsPerYearOffset, 'wordsPerYearRoute');
            animate(popularWordsOffset, 'authorsRoute');

            //$.publish('scroll');
          }, 100);
        fn();

      });

      function animate(offset, route) {
          if ($(window).scrollTop() > offset && !animated[route]) {
            Diction.router[route]()
            animated[route] = true;
          }

      }

      $('.intro-scroll').on('click', function(e) {

        Diction.skrollr.animateTo($(window).height());

      });

      $('#search').on('keyup', function(e) {
        if (e.keyCode == Diction.Constants.ENTER) {
          var query = $(e.currentTarget).val()
          mixpanel.track('Freq Chart Search', {
            query: query
          })
          Diction.router.freqchartRoute(query);
        }
      });

      $('#words-per-year-search').on('keyup', function(e) {
        if (e.keyCode == Diction.Constants.ENTER) {
          var $target = $(e.currentTarget)
          var query = $target.val().toLowerCase();
          mixpanel.track('Words Per Year Search', {
            query: query
          })

          // Already been added
          if (wordsAdded.indexOf(query) !== -1 || Diction.Constants.DEFAULT_WORDS.indexOf(query) !== -1) {
            $('.error-message').text('Word has already been added');
            $target.val('');
            return;
          } else if (query.split(' ').length > 1 ) {
            $('.error-message').text('At this time you can only search for one word');
            $target.val('');
            return;

          }

          $wordsPerYear = $('#words-per-year');
          $wordsPerYear.prepend(Diction.Templates.wordsPerYear.render({ word: query }));
          $.get('/words_per_year', { query: query }).success(function(rows) {
            var wordsPerYear = new Diction.Figures.WordsPerYear({
              data: rows,
              svg: d3.select('.words-per-year-' + query),
              word: query
            });
            wordsPerYear.render();
            wordsAdded.push(query);
            $target.val('');
            $('.error-message').text('');
          });
        }

      });

      Diction.router = new Diction.Routers.IndexRouter({
        docs: !{data},
        authors: !{JSON.stringify(authors)},
        popularWords: !{popularWords}
      });
      Backbone.history.start();

      Diction.skrollr = skrollr.init();

      console.log('  _   _ _  _ _  _  ___ ___\n | | | | \\| | || |/ __| _ \\\n | |_| | .` | __ | (__|   /\n  \\___/|_|\\_|_||_|\\___|_|_\\')

      console.log('   (_)__  ___  ___ _  _____ _/ /_(_)__  ___ \n  / / _ \\/ _ \\/ _ \\ |/ / _ `/ __/ / _ \\/ _ \\\n /_/_//_/_//_/\\___/___/\\_,_/\\__/_/\\___/_//_/')
      console.log('http://www.github.com/benrudolph/unhcrdiction');



    });
