<div class="tipsy-close">X</div>
<p class="tipsy-title">
  <a href="http://www.unhcr.org/<%= documentId %>.html"><%= title %></a>
</p>
<p class="tipsy-date">
  <%= new Date(+date) %>
</p>
<p class="tipsy-sentiment">
  Sentiment Score: <%= sentimentComp %>
</p>
<p class="tipsy-sentiment">
  Word Count: <%= wordCount %>
</p>
<p class="tipsy-author">
  -&nbsp;<%= Diction.Authors[author] %>
</p>



