<h1 class="<%= Diction.authors.get(author).cssClass() %>">
  <%= Diction.authors.get(author).get('fullname') %>
</h1>
<h2 class="tipsy-sentiment">
  Sentiment Score: <%= human %>
</h2>
<h2 class="tipsy-sentiment">
  Word Count: <%= wordCount %>
</h2>
<h3 class="tipsy-title">
  <a href="http://www.unhcr.org/<%= documentId %>.html"><%= title %></a>
</h3>
<h3 class="tipsy-date">
  <%= new Date(+date) %>
</h3>



