<p class="tipsy-title">
  <a target="_blank" href="http://www.unhcr.org/<%= documentId %>.html"><%= title %></a>
</p>
<p class="tipsy-date">
  <%= new Date(+date) %>
</p>
<p class="tipsy-count">
  Count: <%= count %>
</p>
<p class="tipsy-author">
  -&nbsp;<%= Diction.Authors[author] %>
</p>
<p class="tipsy-show">
  <a>Show Sentences</a>
</p>


